<h1>About flashcards</h1>

<p>Business resources for new employees and continuing employee education.</p>

<%= link_to "See who is using Flashcards", organizations_path %>
<br><br>
<hr>

<h3>Testimonials</h3>
<blockquote>Testimonial 1 will surely be coming, and soon! <small>—Attribution</small></blockquote>
<blockquote>Testimonial 2 will surely be coming, and maybe not so soon. <small>—Attribution 2</small></blockquote>