<div id="about-container">

<h1>About flashcards</h1>

<p>Business resources for new employees and continuing employee education.</p>


	<div id="about-left">
		<h3>Administrator tools</h3>
		<ul>
			<li>Create flashcards for users to review and learn material</li>
			<li>Invite users to view your materials</li>
			<li>Manage user access</li>
			<li>Customize the learning experience by supplying hints to users</li>
			<li class="no-bullet">Coming soon</li>
			<li>View user statistics to understand how well they understand the material</li>
			<li>View metrics to analyze difficulty levels</li>
			<li>Upload images, video and sound clips</li>
		</ul>
	</div> <!-- end about-left div -->

	<div id="about-right">
		<h3>For users</h3>
		<ul>
			<li>Study and learn with customized flashcards</li>
			<li>Help remember concepts by utilizing hints</li>
			<li class="no-bullet">Coming soon</li>
			<li>Study flashcards randomly or in order</li>
			<li>Track your progress with real-time statistics</li>
			<li>Add customized hints for advanced memorization and learning techniques</li>
		</ul>
	</div> <!-- end about-left div -->
</div> <!-- end about-container div -->


<!-- <h3>Testimonials</h3>
<blockquote>Testimonial 1 will surely be coming, and soon! <small>—Attribution</small></blockquote>
<blockquote>Testimonial 2 will surely be coming, and maybe not so soon. <small>—Attribution 2</small></blockquote> -->