<% unless user_signed_in? %>
	<div id="welcome-sign-in-bar">
		<%= link_to "User sign in", new_user_session_path %> | 
		<%= link_to "Create a user account", new_user_registration_path %>
	</div>
<% end %>

<h1>Welcome to Flashcards</h1>

<h2>Training resources for businesses</h2>

<br><br>

<% if user_signed_in? %>
<%= link_to "Go to your briefcase", decks_path %>
<% end %>

<br>
<%# link_to "Sign in as an administrator", new_admin_session_path %> <!-- | --> 
<%# link_to "Create a new administrator account", new_admin_registration_path %>
