<h1>Welcome to Flashcards</h1>

<p>Training resources for businesses</p>
<% unless user_signed_in? %>
<%= link_to "Sign in as a user", new_user_session_path %> | 
<%= link_to "Create a new user account", new_user_registration_path %>
<% end %>
<br><br>

<% if user_signed_in? %>
<%= link_to "Go to your briefcase", decks_path %>
<% end %>

<br>
<%# link_to "Sign in as an administrator", new_admin_session_path %> <!-- | --> 
<%# link_to "Create a new administrator account", new_admin_registration_path %>
