/* ==== COLORS - based on body background ==== */
/* 
PRIMARY
rgb(106, 163, 198) -- light blue
rgb(50, 56, 59) -- gunmetal grey
rgb(156, 175, 187) -- light blue-grey (body background)
rgb(32, 49, 59) -- dark blue
rgb(113, 127, 136) -- light gunmetal grey

COMPLEMENTARY
rgb(238, 249, 255) -- off-white
rgb(81, 99, 110) -- med gunmetal grey
rgb(110, 94, 70) -- brown
rgb(187, 174, 156) -- tan
*/

body {
	background-color: rgba(156, 175, 187, 1);
	margin: 0 auto;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*	font-size: 14px;
	line-height: 20px;
*/
}

/* ==== Top-bar area styles ==== */

div#top-bar {
	height: 20px;
	padding: 16px 3px;
	margin: 0;
	background: rgb(8, 54, 84);
background: linear-gradient(to right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
/*	background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, rgb(8, 54, 84);
	background: url(flashcards_logo.png) top 10px left 5px no-repeat, linear-gradient(to right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
	background: url(flashcards_logo.png) top 10px left 5px no-repeat, -o-linear-gradient(to right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
	background: url(flashcards_logo.png) top 10px left 5px no-repeat, -moz-linear-gradient(to right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
	background: url(flashcards_logo.png) top 10px left 5px no-repeat, -webkit-linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
	background: url(flashcards_logo.png) top 10px left 5px no-repeat, -ms-linear-gradient(to right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
*/	box-shadow: 0px 2px 4px rgba(0,0,0,0.60);
	text-align: right;
	color: #aaa;
}

.flashcard_icon {
	position: absolute;
	top: 10px;
	left: 5px;
}


/*
background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, -o-linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, -moz-linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, -webkit-linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);
background-image: url(flashcards_logo.png) top 10px left 5px no-repeat, -ms-linear-gradient(right, rgb(8,54,84) 0%,rgb(57,94,118) 50%, rgb(8,54,84) 100%);

*/

div#top-bar a {
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 14px;
}

div#top-bar a:hover {
	color: white;
	text-decoration: underline;
	background: rgba(255, 255, 255, .3);
	border-radius: 4px;
}

/* ==== Header area and text styles ==== */

header {
	padding: 20px 75px;
}

h1 {
	margin: 25px 0;
	font-size: 30px;
}
h2 {
	color: #555;
	font-size: 20px;
}

p {
	font-size: 18px;
	line-height: 24px;
}
p.notice, p.alert {
	font-size: 13px;
	line-height: 20px;
}

/* ==== Main-content area styles ==== */

div#main-content {
	padding: 20px 75px 0;
	margin: 0 auto;
	min-height: 600px;
}
div#main-content a {
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
div#main-content a:hover {
/*	background: rgba(255, 255, 255, .3);
*/	background: none;
	border-radius: 4px;
	text-decoration: underline;
	color: #555;
}



/* ==== Main-content area styles */  
/* ==== Table styles ==== */

/*rgb(110, 94, 70) -- brown
rgb(187, 174, 156) -- tan*/

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;
}

th {
	color: rgb(255,255,255);
	padding: 8px 12px;
/*	background-color: rgba(110, 94, 70, 1);
	background-color: rgba(32, 49, 59, 1);
*/	background-color: rgb(8, 54, 84);
	text-align: left;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
}

td {
	padding: 6px 10px;
	vertical-align: top;
}
/*
td:first-child {
	width: 30%;
}

td:last-child {
	width: 25%;
}*/

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, .2);
}

tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, .4);
}
tr:first-child {
	background-color: rgba(255, 255, 255, 0);
}

/* ==== Main-content area styles */  
/* ==== Card styles ==== */

div#card-holder {
	position: relative;
	display: block;
	width: 500px;
	height: 500px;
	margin: 30px auto;
}

#hidden-cards{
	display: none;
}

#card{
	border: solid 2px rgba(8, 54, 84, .5);;
	background: white;
	color: #333;
	font-size: 20px;
	
	min-width: 500px;
	width: 500px;
	
	min-height: 300px;
	height: 300px;
	text-align: center;
	line-height: 300px;
	
	margin: 0 auto;
	border-radius: 4px;
}

div#card1 {
	border: solid 2px rgba(8, 54, 84, .5);;
	background: white;
	position: absolute;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	height: 200px;
	width: 400px;	
}

div#card2 {
	background: white;
	display: none;
	position: absolute;
	cursor: pointer;
}

div#card p {
	margin: 50px 50px 0 50px;
	font-size: 20px;
	line-height: 30px;
}

#flipButtons{
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
}

div#main-content a.flipButton{
	color: #fff;
	font-weight: lighter;
	font-size: 12px;
	background: #333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333)) #333;
	background: -moz-linear-gradient(0 100% 90deg, #333, #666) #333;
	padding: 5px 10px;
	border-radius: 3px;
	margin: 0 5px;
}

div#main-content a.flipButton:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#666)) #666;
}

div#guesses {
	width: 500px;
	margin: 30px auto;
}

div#guesses form {
	text-align: center;
}

/*
div#guesses input[type="submit"], div#guesses input[type="radio"] {
	display: block;
} */

/* ==== Welcome page sign-in area styles ==== */

div#welcome-sign-in-bar {
	margin: 0 auto 30px;
	background: rgba(255, 255, 255, .5);
	padding: 14px 8px;
	border-radius: 12px;
	border: 2px solid #999;
	text-align: center;
	width: 60%;
}
div#welcome-sign-in-bar a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 9px;
	border-radius: 5px;
}
div#welcome-sign-in-bar a:hover {
	padding: 5px 9px;
	background: white;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.60);
	text-decoration: none;
}
div#welcome-sign-in-bar a:active {
	padding: 6px 9px 4px 9px;
	background: white;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.60);
	text-decoration: none;
}
div#welcome-sign-in-bar a:click {
	background: white;
}


/* ==== About page styles ==== */

li.no-bullet {
	font-weight: bold;
	margin-top: 5px;
	list-style: none;
	text-transform: uppercase;
}
div#about-container {
	display: block;
	margin: 0;
	background: url(about_flashcards.png) bottom 0px left 50% no-repeat;
	min-height: 600px;
	border-bottom: 1px solid rgba(255,255,255,0);
}

div#about-container h1, div#about-container p {
	text-align: center;
}

/*url(flashcards_logo.png) top 10px left 5px no-repeat
*/
div#about-left {
	float: left;
	width: 47%;
/*	border-right: 1px solid rgb(50, 56, 59);
*/	padding-right: 2%;
}

div#about-right {
	float: right;
	width: 48%;
	padding-left: 2%;
}

div#about-left h3, div#about-right h3 {
	margin-top: 0;
}



/* ==== Welcome page styles ==== */



div#welcome-container {
	display: block;
	margin: 0;
}

div#welcome-left {
	float: left;
	width: 47%;
/*	border-right: 1px solid rgb(50, 56, 59);
*/	padding-right: 2%;
}

div#welcome-right {
	float: right;
	width: 210px;
	padding: 20px;
	background: rgba(255,255,255,.3);
	border-radius: 15px;
	margin-top: 20px;
}

div#welcome-right input[type=email], 
div#welcome-right input[type=password] {
	width: 200px;
	height: 18px;
	margin: 5px 0;
	border-radius: 3px;

	background: #DDD;
	background: -webkit-linear-gradient(#FFF, #DDD);
	background: -moz-linear-gradient(#FFF, #DDD);
	background: -ms-linear-gradient(#FFF, #DDD);
	background: -o-linear-gradient(#FFF, #DDD);
	background: linear-gradient(#FFF, #DDD);
}

div#sign-in-form {
	width: 400px;
	display: block;
	margin: 0 auto;
}

div#welcome-left h1 {
	font-size: 40px;
	line-height: 50px;
}

div#welcome-left h2 {
	font-size: 20px;
	line-height: 30px;
}

/* ==== Footer bar styles ==== */


footer {
	padding: 30px;
	margin: 0;
	background: rgb(8, 54, 84);
	background: linear-gradient(to right, rgb(8, 54, 84) 0%,rgb(57, 94, 118) 50%, rgb(8, 54, 84) 100%);
	box-shadow: 0px -2px 4px rgba(0,0,0,0.60);
	text-align: center;
}
footer a {
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 8px;
}
footer a:hover {
	text-decoration: underline;
	background: rgba(255, 255, 255, .15);
	border-radius: 4px;
}


footer ul li {
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	border-left: solid 1px white;
}
footer ul li:nth-child(1) {
	border-left: none;
}